// @import "~@angular/material/theming";
// @include mat-core();
// $app-primary: mat-palette($mat-indigo);
$speakup-primary: #3f51b5;


@mixin centered {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}