<form class="email-form" [formGroup]="emailForm" (ngSubmit)="!this.sendingEmail && sendEmailLink()">
  <mat-form-field class="email-form__input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="awesome@person.you" formControlName="email" [errorStateMatcher]="matcher">
    <mat-hint>Passwordless Sign Up</mat-hint>
    <mat-error *ngIf="email.hasError('pattern') && !email.hasError('required')">
      Please enter a valid email addresss
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button class="email-form__submit-btn" mat-stroked-button type="submit"
   [disabled]="sendingEmail || emailSent || email.invalid">
    <mat-icon>email</mat-icon>
    Sign Up with email <mat-spinner *ngIf="sendingEmail" [diameter]="19"></mat-spinner>
  </button>
</form>