.email-form {
    display: flex;
    flex-direction: column;
}

.email-form__input {
    margin-bottom: 1rem
}

.email-form__submit-btn {
    mat-icon{
        margin-right: 0.6rem;
        margin-left: -1.9rem;
        line-height: 1.4rem;
    }
    mat-spinner{
        display: inline-flex;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        margin-right: 1rem;
    }
}