@import 'variables';

.app-container{
    // width: 100%;
    // max-width: 900px;
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 1fr minmax(400px, 900px) 1fr;
    app-nav-bar{
        grid-row: 1;
        grid-column: 2  
    }
    .outlet{
        grid-row: 2;
        grid-column: 2;
    }
    b{
        background-color: $speakup-primary;
    }
}
